.goat-show {
  color: #001d3d;
  margin-top: 50px;
}

.booking-card {
  display: flex;
  margin-top: 80px;
  border: #001d3d 1px solid;
  border-radius: 20px;
  padding: 15px;
  position: relative;
}

.booking-card img {
  border-radius: 20px;
  object-fit: cover;
  height: 300px;
  width: 300px;
  margin-right: 20px;
}

h1 {
  margin-bottom: 50px;
  font-size: 60px;
}

.delete-booking {
  position: absolute;
  top: 5px;
  right: -8px;

  img {
    width: 25px;
    height: 25px;
  }
}
