// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: top;
  padding: 150px 0;
  height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 10px 10px 30cap rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 25px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: left;
  width: 60%;
  padding-bottom: 25px;
}


.container {
  margin-top: 50px;
  width: 100%;
  height: auto;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: auto;
  padding: 8px;
  position: absolute;
  right: 50%;
  bottom: 16px;
}



.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.banner {
  backdrop-filter: none;
  backdrop-filter: url(commonfilters.svg#filter);
  backdrop-filter: blur(10px);
  backdrop-filter: inherit;
}
