<!-- Include this in the body of your HTML file -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpapercave.com/wp/wp4713581.jpg);">
  <div class="container">
    <h1>Welcome to <strong>GOATMO!</strong></h1>
    <p>GOATMO is the premier platform for finding and renting goats for all your needs.
    Whether you're looking for a furry companion or need a goat to mow your lawn, we've got you covered.
    Explore our listings and start your goat adventure today!</p>
    <%= link_to 'Browse Goat Listings', goats_path, class: 'btn btn-primary' %>
  </div>
    <i class="arrow down"></i>
</div>
