<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://w0.peakpx.com/wallpaper/646/425/HD-wallpaper-d-fantasy-goat-lord-funny-creative-animal-hat.jpg" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://wallpapers.com/images/hd/adult-goat-with-long-beard-jfzcdk1mp0dt9jxz.jpg" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>



<div class="">
  <div class="cards">
    <div class="card-white">
      <img src="https://images.unsplash.com/photo-1588466585717-f8041aec7875?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z29hdHxlbnwwfHwwfHx8MA%3D%3D" class="img-circle" width="250px" alt="goat">
      <div class="d-flex justify-content-between">
        <div class="card-info">
          <h1>GOAT 1</h1>
          <a href="#" class="btn-blue">discover about goat</a>
        </div>
        <h2>price=2.5£</h2>
      </div>
    </div>

        <div class="card-white">
      <img src="https://images.unsplash.com/photo-1588466585717-f8041aec7875?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z29hdHxlbnwwfHwwfHx8MA%3D%3D" class="img-circle" width="250px" alt="goat">
      <div class="d-flex justify-content-between">
        <div class="card-info">
          <h1>GOAT 1</h1>
          <a href="#" class="btn-blue">discover about goat</a>
        </div>
        <h2>price=2.5£</h2>
      </div>
    </div>

        <div class="card-white">
      <img src="https://images.unsplash.com/photo-1588466585717-f8041aec7875?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z29hdHxlbnwwfHwwfHx8MA%3D%3D" class="img-circle" width="250px" alt="goat">
      <div class="d-flex justify-content-between">
        <div class="card-info">
          <h1>GOAT 1</h1>
          <a href="#" class="btn-blue">discover about goat</a>
        </div>
        <h2>price=2.5£</h2>
      </div>
    </div>

        <div class="card-white">
      <img src="https://images.unsplash.com/photo-1588466585717-f8041aec7875?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z29hdHxlbnwwfHwwfHx8MA%3D%3D" class="img-circle" width="250px" alt="goat">
      <div class="d-flex justify-content-between">
        <div class="card-info">
          <h1>GOAT 1</h1>
          <a href="#" class="btn-blue">discover about goat</a>
        </div>
        <h2>price=2.5£</h2>
      </div>
    </div>

        <div class="card-white">
      <img src="https://images.unsplash.com/photo-1588466585717-f8041aec7875?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z29hdHxlbnwwfHwwfHx8MA%3D%3D" class="img-circle" width="250px" alt="goat">
      <div class="d-flex justify-content-between">
        <div class="card-info">
          <h1>GOAT 1</h1>
          <a href="#" class="btn-blue">discover about goat</a>
        </div>
        <h2>price=2.5£</h2>
      </div>
    </div>

        <div class="card-white">
      <img src="https://images.unsplash.com/photo-1588466585717-f8041aec7875?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z29hdHxlbnwwfHwwfHx8MA%3D%3D" class="img-circle" width="250px" alt="goat">
      <div class="d-flex justify-content-between">
        <div class="card-info">
          <h1>GOAT 1</h1>
          <a href="#" class="btn-blue">discover about goat</a>
        </div>
        <h2>price=2.5£</h2>
      </div>
    </div>

        <div class="card-white">
      <img src="https://images.unsplash.com/photo-1588466585717-f8041aec7875?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z29hdHxlbnwwfHwwfHx8MA%3D%3D" class="img-circle" width="250px" alt="goat">
      <div class="d-flex justify-content-between">
        <div class="card-info">
          <h1>GOAT 1</h1>
          <a href="#" class="btn-blue">discover about goat</a>
        </div>
        <h2>price=2.5£</h2>
      </div>
    </div>

  <div class="card-white">
    <H1>GOAT 2</H1>
    <img src=" https://png.pngtree.com/png-clipart/20231001/ourmid/pngtree-goat-face-with-long-horn-png-image_10189817.png" width="100px" alt="goat">
    <div class="card-white">
        <H2>price=4.5£</H2>
        <H2>rating=3.4</H2>
    </div>
  </div>

  <div class="card-white">
    <H1>GOAT 3</H1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAeqezQHqDPVudKjKnqIbMZQq4YUs1528OsIF5Zm4hKesP8uU8AWQEWwRVWKvqivClMP4&usqp=CAU" width="100px" alt="goat">
    <div class="card-white">
          <h2>price=3.5£</H2>
    </div>
  </div>

  <div class="card-white">
    <H1>GOAT 4</H1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmT6B8TW3v3IK6vXeHoYq4JWYXHIi1hy22Ay-0JonwHHgQR1PlMS_WxVEy_X0KvT5YaZs&usqp=CAU" width="200px" alt="goat">
    <div class="card-white">
      <h2>price=7.5£</H2>
    </div>
  </div>

  <div class="card-white">
    <H1>GOAT 5</H1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmT6B8TW3v3IK6vXeHoYq4JWYXHIi1hy22Ay-0JonwHHgQR1PlMS_WxVEy_X0KvT5YaZs&usqp=CAU" width="200px" alt="goat">
    <div class="card-white">
      <h2>price=7.5£</H2>
    </div>
  </div>

  <div class="card-white">
    <H1>GOAT 6</H1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3GeGK8BaVIhM2sx35-FK69c9rQ6Sc4ohLjI6Nafr1wtEeK4tLk34mm8aziMOtWIUz5pY&usqp=CAU" width="200px" alt="goat">
    <div class="card-white">
      <h2>price=7.5£</H2>
    </div>
  </div>

  <div class="card-white">
    <H1>GOAT 7</H1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwkOFdrsvocxg7UMRSIJhKCnCRXn4n-xOSTNZX2SZm&s" width="200px" alt="goat">
    <div class="card-white">
      <h2>price=7.5£</H2>
    </div>
  </div>

  <div class="card-white">
    <H1>GOAT 8</H1>
    <img src="https://t3.ftcdn.net/jpg/03/02/39/76/360_F_302397654_rkcxmMRsd13ysICqH8YBj2HScEReUnyB.jpg" width="200px" alt="goat">
    <div class="card-white">
      <h2>price=7.5£</H2>
    </div>
  </div>

  <div class="card-white">
    <H1>GOAT 9</H1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS07d0um7DGKXbUGQ7y-Ac4-d8Ue2OCN1ckHKeBGk7UMXj1X10mQTDuaZwVxRvH-IcDv-U&usqp=CAU" width="200px" alt="goat">
    <div class="card-white">
      <h2>price=7.5£</H2>
    </div>
  </div>

</div>
