.alert, .notice {
  position: fixed;
  bottom: -48px;
  right: 16px;
  z-index: 1000;
  background-color: green;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  border: 2px black solid;
  transition: bottom 0.4s ease;
}
