.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-canvas {
  display: flex;
  justify-content: right;
  border-radius: 20px;
  align-items: right;
}
