.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-canvas {
  display: flex;
  justify-content: right;
  border-radius: 20px;
  align-items: right;
}

.mapShow {
  margin-top: 30px;
  width: 40%;
  margin-left: 1115px;
  margin-bottom: 30px;
}
