.navbar-lewagon {
  justify-content: space-between;
  background: #001d3d;
  width: 100%;
  color: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar img {
  -webkit-filter: invert(1);
  filter: invert(1);
  }

.nav-link {
  color: white;
  }

  .nav-link:hover {
    color: #ffc300;
  }
